[Unit]
	Description=option8

[Service]
	ExecStart=/usr/local/bin/option8
	Type=forking
	KillMode=process

	SyslogIdentifier=smart-test
	SyslogFacility=daemon
 
	Restart=on-failure

[Install]
	WantedBy=multi-user.target
